.sprite{display:inline-block;width:48px;height:48px;background-image:url(../img/mNKNm.png)}.firestorm{background-position:0 0}.firestorm:hover{background-position:0 -48px}.facebook{background-position:-48px 0}.facebook:hover{background-position:-48px -48px}.twitter{background-position:-139px 0}.twitter:hover{background-position:-139px -48px}.youtube{background-position:-96px 0}.youtube:hover{background-position:-96px -48px}.linkedin{background-position:-187px 0}.linkedin:hover{background-position:-187px -48px}.google{background-position:-235px 0}.google:hover{background-position:-235px -48px}

#carreInscCo{
text-align: center;
background-color: #DCDCDC;
 padding-left: 50px;
 padding-right: 50px;
}

#searchForm{
	margin-top: 3%;
}

.searchH2{
	text-align: center;
}

.redirectionA{
	margin-top: 30px;
}

.pagination{
	font-size: 18px;
}